/* You can add global styles to this file, and also import other style files */


/*@import “~@angular/material/prebuilt-themes/indigo-pink.css”;
*/

html, body { height: 100%; }

body { margin: 0px;  }


.row { border-bottom:  1px solid #ccc; background-color: #fff; }
.row:hover { background-color: #fafafa; }

.titledate {  color : #333; font-size:13pt; }
.author {  color : #999; font-size:13pt; }


.row:hover span.trash  { 
	display: inline-block; 
}

.row span.trash{ 
 display: none;
}
