  <div class="container">
        <div *ngFor="let aux of articles " class="row" (click)="openNewTab(aux.url)"  >
          <div class="col-md-8"><span class="titledate">{{aux.title}}</span> <span class="author"> - {{ aux.author}} - </span> </div>
          <div class="col-md-3"><span class="titledate">{{aux.created_at | date : 'shortTime'  }}</span></div>
          <div class="col-md-1"> <a href="#" (click)="remove(aux._id)" ><span class="trash glyphicon glyphicon-trash"></span></a></div>
        </div>
  </div>

