/* You can add global styles to this file, and also import other style files */


/*@import “~@angular/material/prebuilt-themes/indigo-pink.css”;
*/

html, body { height: 10%; }

body { margin: 100px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row { border :1px #ccc; background-color: #fff; }
.row:hover { background-color: #fafafa; }

.titledate {  font-color : #333; font-size:13pt; }
.author {  font-color : #999; font-size:13pt; }